@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex {
  display: flex;
}

/* dark02 */
.text-gray {
  color: #424242;
}
/* dark03 */
.text-light-gray {
  color: #727272;
}

.text-primary {
  color: #ff900e;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  color: white;
  background-color: #ff900e;
  border-radius: 8px;
  padding: 20px 24px;
  font-weight: 600;
  font-size: 1.25rem;
  outline: none;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 128px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.our-features {
  margin-left: 128px;
  max-width: 530px;
}
/* Header styles */

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700px;
  font-size: 2rem;
}
.nav-item {
  list-style: none;
  margin-right: 32px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner content style */
.banner-content {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
}

/* features styles here */
.teams {
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.teams-img-container img {
  width: 100%;
}

.our-features {
  max-width: 530px;
  margin-left: 130px;
}

#quick-list {
  font-weight: 400;
}
/* Responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    margin-left: 20px;
  }
}

/* Medium size devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 50px auto;
  }
}
